body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  width: 1440px;
  height: 2060px;
  margin: 0 auto;
}

/* HEADER */



.header {
  background-color: #e7e9fc;
  color: #2e2f42;
  height: 72px;
  border: 1px solid #e7e9fc;
  align-items: center;
  list-style-type: none;
  display: flex;
}

.container-header {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  
}

.header-nav-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: 3%;
  cursor: pointer;
  margin-right: 76px;
}

.header-logo-web {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 3%;
}
.header-logo-studio {
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 3%;
}

.header-nav-ul {
  display: flex;
  gap: 40px;
}

.li-of-header-nav {
  list-style-type: none;
  padding: 24px 0;
  align-items: center;
  text-decoration: none;
  font-style: normal;
}

.header-nav-menu a {
  text-decoration: none;
  color: #2e2f42;
}

.header-nav-menu a:hover {
  color: #404bbf;
}

/* HEADER ADRESS */

.header-adress {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  cursor: pointer;
  display: flex;
  gap: 40px;
}

.header-adress-ul {
  text-decoration: none;
  display: flex;

  gap: 40px;
}

.header-adress-ul-li {
  text-decoration: none;
  list-style-type: none;
  display: flex;

  gap: 40px;
}

.header-adress-a {
  text-decoration: none;
  color: #434455;
  gap: 40px;
  display: inline-flex;
}

.header-adress-a:hover {
  color: #404bbf;
}

/* HEADER END */

/* MAIN SECTION ONE */

.main-section-one {
  background-color: #2e2f42;
  height: 600px;
  display: inline-block;
  padding: 188px 0;
}

.container-section-one {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;

}


.h-of-main-section-one {
  max-width: 496px;
  height: 120px;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1em;
  letter-spacing: 2%;
  text-align: center;
}

.button-of-main-section-one {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px, 32px, 16px, 32px;
}

.main-section-one button:hover {
  background-color: #404bbf;
}

/* MAIN SECTION ONE END */

/* MAIN SECTION TWO  */

.main-section-two {
  width: 1128px;
  margin: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 120px 0;
}
.container-section-two {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ul-main-section-two {
  display: flex;
  list-style-type: none;
  gap: 24px;
}

.li-main-section-two {
  width: calc((100% - 72px) / 4);
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h-main-section-two {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 2%;
  margin-bottom: 8px;
}

.main-section-two p {
  width: 264px;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
}

/* MAIN SECTION TWO END */

/* MAIN SECTION TREE */

.main-section-tree {
  background-color: #f4f4fd;
  box-sizing: border-box;
  text-align: center;
  padding: 120px 0;
  display: flex;
}
.container-section-tree5 {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}


.main-section-ourteam {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  letter-spacing: 2%;
  font-style: bold;
  margin-bottom: 72px;
}
.ul-main-section-tree {
  display: flex;
  gap: 24px;
}

.li-main-section-tree {
  background-color: #ffffff;
  list-style-type: none;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.personal-list {
  padding: 32px 0;
}

.h-main-section-tree {
  text-align: center;
  margin-bottom: 8px;
}
.p-main-section-tree {
  text-align: center;
}

.main-section-tree img {
  cursor: pointer;
  width: 264px;
  height: 260px;
  display: block;
}

.main-section-tree img:hover {
  opacity: 0.8;
}

.main-section-tree p {
  font-style: bold;
  color: #434455;
  text-align: center;
}

/* MAIN SECTION TREE END */

/* OUR PORTFOLIO */
.our-portfolio {
  padding: 120px 0;
}
.container-our-portfolio {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}


.h-our-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  text-align: center;
  letter-spacing: 2%;
  color: #2e2f42;
  margin-bottom: 72px;
}

.ul-our-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
  justify-content: space-between;
  width: 1128px;
}

.li-our-portfolio {
  width: 360px;
  height: 420px;
  text-align: left;
}

.our-portfolio img {
  width: 360px;
  height: 300px;
  cursor: pointer;
  display: block;
}

.our-portfolio-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.h-our-portfolio-app {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 2%;
}

.our-portfolio p {
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
}
/* OUR PORTFOLIO END */

/* FOOTER */

.page-footer {
  background-color: #2e2f42;
  display: flex;
  width: 1440px;
  height: 312px;
  padding: 100px 0;
}
.container-footer {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}


.footer-logo-a {
  display: inline-block;
  margin-bottom: 16px;
  width: 115px;
  height: 24px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 3%;
}

.footer-logo-web {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 3%;
}

.footer-logo-studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 3%;
  color: #f4f4fd;
}

.footer-p {
  max-width: 264px;
  height: 72px;
  margin-left: -115px;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
}

/* FOOTER END */
