body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  width: 1440px;
  margin: 0 auto;
}

/* HEADER */

.page-header {
  background-color: #e7e9fc;
  color: #2e2f42;
  height: 72px;
  border: 1px solid #e7e9fc;
  align-items: center;
  list-style-type: none;
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.header-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  display: flex;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: 3%;
  cursor: pointer;
  margin-right: 76px;
  text-decoration: none;
}

.header-logo-web {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 3%;
}
.header-logo-studio {
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 3%;
}

.nav-list {
  padding: 24px 0;
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.list-item {
  padding: 24px 0;
}

.nav-link {
  text-decoration: none;
  color: #2e2f42;
}

.nav-link:hover {
  color: #404bbf;
}

/* HEADER ADRESS */

.header-contact {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  cursor: pointer;
  display: flex;
  gap: 40px;
  margin-left: 220px;
}

.header-contact-list {
  text-decoration: none;
  display: flex;
  gap: 40px;
}

.contact-list {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.contact-link {
  text-decoration: none;
  color: #434455;
  gap: 40px;
  display: inline-flex;
}

.contact-link:hover {
  color: #404bbf;
}

/* HEADER END */

/* MAIN SECTION ONE */

.section-one {
  background-color: #2e2f42;
  height: 600px;
  display: inline-block;
  padding: 188px 0;
}

.section-one .container {
  width: 1440px;
  padding: 0 15px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.h-section-one {
  max-width: 496px;
  height: 120px;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1em;
  letter-spacing: 2%;
  text-align: center;
  margin-bottom: 30px;
}

.button-section-one {
  display: block;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
}

.button-section-one:hover {
  background-color: #404bbf;
}

/* SECTION ONE END */

/* SECTION TWO  */

.section-two {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two-list {
  display: flex;
  list-style-type: none;
  gap: 24px;
}

.section-two-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.section-two-list section-two-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.section-two-h {
  display: flex;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 2%;
  margin-bottom: 8px;
}

.section-two-paragraph {
  width: 264px;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
}

/*  SECTION TWO END */

/*  SECTION TREE */

.section-tree {
  background-color: #f4f4fd;
  box-sizing: border-box;
  text-align: center;
  padding: 120px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.section-ourteam {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  letter-spacing: 2%;
  font-weight: bold;
  margin-bottom: 72px;
}
.section-tree-ul {
  display: flex;
  gap: 24px;
}

.section-tree-list {
  background-color: #ffffff;
  list-style-type: none;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.personal-list {
  padding: 32px 0;
}

.section-tree-h {
  text-align: center;
  margin-bottom: 8px;
}
.section-tree-p {
  text-align: center;
  font-weight: bold;
  color: #434455;
  text-align: center;
}

.section-tree img {
  display: block;
  margin: 0 auto;
}

.section-tree img:hover {
  opacity: 0.8;
}

/* SECTION TREE END */

/* SECTION FOUR */

.section-four {
  
  width: 1158px;
  display: flex;
  padding: 120px 0;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.section-four-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  text-align: center;
  letter-spacing: 2%;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-four-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 19px;
}

.section-four-list-item {
  justify-content: space-between;
}

.our-portfolio img {
  cursor: pointer;
  display: block;
}

.section-four-list-div {
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-four-app {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 2%;
}

.our-portfolio-paragraph {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
}
/* SECTION FOUR END */

/* FOOTER */

.page-footer {
  background-color: #2e2f42;
  display: flex;
  padding: 100px 0;
}
.container-footer {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-left: 156px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 2%;
}

.footer-logo-web {
  color: #4d5ae5;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-paragraph {
  max-width: 264px;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  margin: 0 0 10px 156px;
}

/* FOOTER END */
