h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

/* HEADER */

.the-page-header {
  background-color: #ffffff;
  color: #2e2f42;
  height: 72px;
  border: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  align-items: center;
  display: flex;
  padding: 24px 0;
}

.header.container {
  display: flex;
  width: 1158px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.the-header-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  display: flex;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}

.the-header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: 3%;
  cursor: pointer;
  margin-right: 76px;
  text-decoration: none;
}

.header-logo-web {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 3%;
}
.header-logo-studio {
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 3%;
}

.the-nav-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  list-style-type: none;
}
.the-list-item {
  
}

.the-nav-link {
  text-decoration: none;
  color: #2e2f42;
}

.the-nav-link:hover {
  color: #404bbf;
}

/* HEADER CONTACT */

.the-header-contact {
  cursor: pointer;
  display: flex;
  gap: 40px;
  margin-left: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  align-items: center;
}

.the-header-contact-list {
  text-decoration: none;
  display: flex;
  gap: 40px;
}

.the-contact-list {
  display: flex;
  gap: 40px;
}

.the-contact-link {
  text-decoration: none;
  color: #434455;
  display: inline-block;
}

.the-contact-link:hover {
  color: #404bbf;
}

/* HEADER END */

/* MAIN SECTION ONE */

.the-section-one {
  width: 1158px;
  margin: 0 auto;
  background-color: #2e2f42;
  height: 600px;
  display: flex;
  padding: 188px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-one.container {
  width: 1158px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.h-section-one {
  max-width: 496px;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.3em;
  letter-spacing: 2%;
  text-align: center;
  margin-bottom: 30px;
}

.button-section-one {
  display: block;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
}

.button-section-one:hover {
  background-color: #404bbf;
}

/* SECTION ONE END */

/* SECTION TWO  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.the-section-two {
  background-color: #f9f9f9;
  padding: 120px 0;
  display: flex;
  justify-content: center;
}

.section-two.container {
  display: flex;
  justify-content: center;
}

.the-the-section-two-list {
  display: flex;
  gap: 24px;
}

.the-section-two-list-item {
  background-color: #ffffff;
  padding: 20px;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.the-section-two-h {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 2%;
  margin-bottom: 8px;
}

.the-section-two-paragraph {
  height: 72px;
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2%;

  color: #434455;
  line-height: 1.5em;
}

/*  SECTION TWO END */

/*  SECTION TREE START */

.the-section-tree {
  padding: 120px 0;
  text-align: center;
}

.the-section-ourteam {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  letter-spacing: 2%;
  margin-bottom: 72px;
}

.the-section-tree-ul {
  display: flex;
  gap: 24px;
}

.the-section-tree-list {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-bottom: 8px;
  padding: 32px 0;
}

.the-section-tree-personal-list {
  padding: 32px 0;
}

.the-section-tree-h {
  margin-bottom: 8px;
}

.the-section-tree-p {
  font-weight: 400;
  color: #434455;
  text-align: center;
}

.the-section-tree img {
  display: block;
  margin: 0 auto;
}

.the-section-tree img:hover {
  opacity: 0.8;
}

/* SECTION TREE END */

/* SECTION FOUR START */

.the-section-four {
  display: flex;
  padding: 120px 0;
}

.the-section-four-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  text-align: center;
  letter-spacing: 2%;
  color: #2e2f42;
  margin-bottom: 72px;
}

.the-section-four-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.the-section-four-list-item {
  flex-basis: calc((100% - 72px) / 4);
  margin-bottom: 8px;
}

.section-four-list-item-div {
  border-bottom: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  margin-bottom: 8px;
}

.the-section-four img {
  display: block;
  cursor: pointer;
}

.the-section-four div {
  margin-bottom: 8px;
}

.the-section-four-list-div {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  margin-bottom: 8px;
}

.the-section-four-app {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 2%;
}

.the-our-portfolio-paragraph {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
}
/* SECTION FOUR END */

/* FOOTER */

.the-page-footer {
  width: 1158px;
  height: 312px;
  margin: 0 auto;
  background-color: #2e2f42;
  display: block;
  padding: 100px 0; 
  align-items: center;
}

.page-footer.container {


}

.the-footer-link {
  display: inline-block; 
  margin-bottom: 16px; 
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 2%;
  margin: 0 0 10px 156px;
}
.the-page-footer .the-footer-link {
  margin-bottom: 16px; 


}

.footer-logo-web {
  color: #4d5ae5;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.the-footer-paragraph {
  max-width: 264px; 
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  margin: 0 0 10px 156px;
}

/* FOOTER END */
